body{
	background: #f7f1f0;
}

.topMessage{
	font: 20px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
	padding: 0px 0px 0px 0px;
	margin: -10px 0px 10px 0px;
}

.topPage{
	font: 30px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
}

.featurette{
	background: #FFF;
}

.marketing{
	padding: 20px;
}

.backgroundColor{
	background: #FFF;
}

.featureImg{
	margin: auto;
	max-width: 600px;
	max-height: 400px;
}

.mapPicture{
	padding: 15px 0px 0px 0px;
}

.featurette-divider{
	border: 1px solid #000;
}

@media (max-width: 767px) { /*This is for the mobile version*/
    h2{
	  font: 22px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
	}
}	