body
{
  
}

h3
{

}

h4{
	color: #FFF;
}

#collapseTutorial{
	color: #FFF;
}

.smallWarning{
	color: #fe7b00;
}

.offColor{
	color: #D5D5D5;
}

.col-centered{
  float: none;
  margin: auto;
}

.dataEnter{
  background-color: #1281BD;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: auto;
}

.carousel-inner > .item > img{
  /*height: 360px;
  width: 100%;*/
  padding: 0;
  max-height: 640px;
  width: 100%;
  size: auto;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #1281BD;
  color: #FFF; /*White*/
  padding: 0% 0% 0% 1%;
  /*font-size: 1.2em; /*Resize font*/
  /*border: 0;*/ /*Gets rid of blackboard*/
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #000;
  min-height: 20px;
}

.navbar-inverse .navbar-nav li a{
  color: #D5D5D5; /*Off color white for when we aren't overing over the icons*/
  padding: 0%;
  font: 15px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
}

.dropdownItem{
  color: black;
  padding: 0;
}

.navbar-inverse .dropdown-menu{
  background-color: #FFF;
  padding: 0;
  border-color: black;
  /*margin-top: -100px;*/
  color: black;
  padding: 6px 12px;
  border: 2px solid #395D86;
  text-align: center;
}

.item h1{
  font-size: 2.0em;
  color: #FFF;
}

.btn{
  font-size: 18px;
  color: black;
  padding: 6px 12px;
  background: #FFF;
  border: 2px solid #000;
}

.planJourneyButton{
	margin: 5px;
    padding: 5px;
}

.btn-firstDropdown{
  font-size: 15px;
  color: #FFF;
  padding: 5px 40px;
  margin: 2px;
  background: #3A6DA6;
  border: 1px solid #000;
  float: center;
}

.btn-secondDropdown{
  font-size: 15px;
  color: #3A6DA6;
  padding: 5px 34px;
  margin: 2px;
  background: #FFF;
  border: 2px solid #3A6DA6;
  float: center;
}

#btnContactUs{
  background: #3A6DA6;
  color: #FFF;
}

.navbar{
  padding: 0px 0px 0px 5px;
  /*margin: auto;*/
}

.navbar-toggle img{
  height: 25px;
  width: 25px;
  margin-top:-5px;
  padding: 0% 0% 0% 0%;
  text-decoration: none
}

#accountIcon, #accountIcon:focus, #accountIcon:hover, #accountIcon:active{
  color: #FFF;
  background-color: #1281BD;
  border: 1px solid #000;
}

.navbar-toggle{
  border: none;
  text-decoration: none
  color: #FFF;
  background-color: #1281BD;
}

.navbar-brand img{
  height: 40px;
  width: 80px;
  padding: 0% 0% 10% 0%;
  float: left;
  margin-top:-5px;
}

.dropdown a{
  background: #FFF;
}

.provideRoom{
	padding: 0px 0px 0px 0px;
  margin: auto;
  float: center;
  color: #1281BD;;
}

.dropdownActive:link, .dropdownActive:visited, .dropdownActive:hover,
.dropdownActive:focus, .dropdownActive:active{
  background: #1281BD !important;
}

.navbarDropdown a:hover, .navbarDropdown a:focus{
  background: #3A6DA6 !important;
  padding: 0px 0px 0px 2px;
}
  
#accountAdd{
	height: 15px;
	width: 15px;
	padding: 0px;
	margin: 0px 4px 0px 0px;
	transform: translateY(+10%); /*Shifts down from very top*/
}

#regularAccount{
	height: 17px;
	width: 17px;
	padding: 0px;
	margin: 0px 4px 0px 0px;
	transform: translateY(+10%); /*Shifts down from very top*/
}

.form-group{
  padding: 10px;
  float: center;
  margin: auto;
  max-width: 1500px;
}

.btn-submitButton{
  font-size: 15px;
  color: #FFF;
  padding: 5px 40px;
  margin: 2px;
  background: #3A6DA6;
  border: 1px solid #FFF;
  float: center;
}

.featurette-divider{
	border: 1px solid #000;
}

.startParagraph{
  margin: 0px 10px -5px 10px;
  color: #f5f4f4; /*Off color white for when we aren't overing over the icons*/
  padding: 0%;
  font: 40px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
  float: center;
}

.beginningInput{
  font: 20px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
}

.submitButton1{
  margin-top: 10px;
  height: 40px;
}

footer{
  width: 100%;
  background-color: #1281BD;
  padding: 3%;
  color: #FFF;
  bottom: 0;
}

footer h4{
	margin: 0%;
}

.fa{
	padding: 15px;
	font-size: 30px;
	color: #FFF;
}

.fa:hover{
	color: #777;
	text-decoration: none;
}

.mailToFooter{
  color: #FFF;
  font-size: 30px;
}

.mailToFooter:hover{
  color: #777;
  text-decoration: none;
}

.icon { /*# is for id*/
	max-width: 200px; /*Icons can only be 200 icons each*/
	margin: 7% auto; /*1% margin & auto to left/right*/
}

#inputText{
  width: 300px;
  height: 40px;
  margin: auto;
}

#inputPassword{
  width: 300px;
  height: 40px;
  margin: auto;
}

.mb-4{
  margin: 40px 10px 10px 10px;
}

.form-signin{
  vertical-align: middle;
}

.forgotPassword{
  padding: 10px;
  margin: 10px;
}

.panel-primary
{
  margin: 30px 0px 0px 0px;
}

.panel-primary>.panel-heading
{
  background:#3A6DA6;
}

.warning{
  color: red;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
}

#message{
  display: none;
}

small {
    color: #678 !important;
}

#contactFooter{
  color: #000;
}

.jumbotron{
  color: #FFF;
  border-radius: 0px;
  max-width: 1140px;
  height: 400px;
  margin: auto;
  background-color: #678;
}

.jumbotronContactUs {
  color: #FFF;
  border-radius: 0px;
  background: url("../imageFiles/city.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  max-width: 1140px;
  height: 400px;
  margin: auto;
}

.jumbotronAbout {
  color: #FFF;
  border-radius: 0px;
  background: url("../imageFiles/backgroundPhoto.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  max-width: 940px;
  height: 490px;
  margin: auto;
}

.leaveMargin{
	margin: auto;
	padding: 15px 5px 0px 5px;
}

.jumbotron-sm { 
  padding-top: 24px;
  padding-bottom: 24px; 
}
.jumbotron small {
  color: #FFF;
}

@media (max-width: 767px) { /*This is for the mobile version*/
  .createMargins{
    margin: 3px;
  }

  .jumbotron {
	height: 260px;
  }

  .jumbotronAbout {
    height: 300px;
  }

  #icon {
    max-width: 150px;
  }

  h2{
    font-size: 80%;
  }

  .fa{
    font-size: 20px;
    padding: 0px;
  }

  .item h1{
    font-size: 1.6em;
    color: #FFF;
  }

  .dropdown-menu a{
    background-color: #FFF;
    padding: 0;
    border-color: black;
    /*margin-top: -100px;*/
    color: black;
    padding: 6px 12px;
    border: 2px solid black;
  }

  .dropdown-menu a:hover{
    background: #3A6DA6 !important;
  }

  .navbar-brand img{
    height: 48px;
	width: 90px;
    transform: translateY(-5%); /*Shifts down from very top*/
  }

  .navbar a{
    margin: 2px 0px 2px 1px;
  }

  .startParagraph{
  margin: 0px 10px 0px 10px;
  font: 23px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
  }

  .beginningInput{
  font: 13px/1.5 Arial, Helvetica,sans-serif; /*Determines the text*/
  }
}

@media (min-width: 1920px) { /*This is for the mobile version*/
  .carousel-inner{
	  margin: auto;
	  width: 1920px;
  }
}