body{
  background: #D7DAD7;
}

.jumbotronMyAccount{
  color: #FFF;
  border-radius: 0px;
  background: url("../imageFiles/blackBackground2.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  max-width: 1140px;
  height: 300px;
  margin: auto;
}

.featurette-divider{
  border: 1px solid #000;
}

.profileTabs{
  padding: 10px 0px 0px 0px;
}