/*Globals*/
/*///////////////////////////////////////////////////////////////////*/

/*Grey background in case nothing else loads*/
body
{
	font: 15px/1.5; /*Determines the text*/
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-weight: 400;
    line-height: 1.7;
}

a:hover
{
	text-decoration: none;
}


/*Solid line across screen*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
    margin: -5px 0px 0px 0px;
}

/*Footer values for width, padding*/
footer
{
	width: 100%;
	padding: 0px 5px 0px 5px;
	background-color: #002650;
}

/*Color of the footer text*/
footer a
{
	color: #FFF;
	text-align: center;
}

/*Color of the footer text when cursor is over top*/
footer a:hover
{
	text-decoration: none;
	color: #777
}

/*Changes Color, Padding, Margin, and Font size of H5*/
h5
{
	color: #666;
	padding-left: 5px;
	margin-bottom: -20px;
	font-size: 17px;
}

h3
{
	font-size: 23px;
}

/*Classes and IDs*/
/*///////////////////////////////////////////////////////////////////*/

#plannedLogo img
{
	max-width: 100%;
	max-height: 100%;
}

/*Limits the width of whatever is inside to max and centers*/
.limitWidth
{
	max-width: 1300px;
	margin: auto;
}

.space-adaptive-large
{
	height: 40px;
}

.space-adaptive-small
{
	height: 10px;
}

.NavbarFooter
{
    position: relative;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    /*line-height: 1.0;*/
    text-align: center;
    color: #fff;
    z-index: 0;
}

.vertDivide
{
	padding: 7px;
}

.footerPad
{
	padding: 10px 0px 10px 0px;
}

small
{
	color: #676b7f;
}

.pointer
{
	cursor: pointer;
}

.pointer i:hover
{
	color: #999;
}

.contracts small:hover
{
	color: #fff;
}

.language
{
	color: #726DA4;
	padding: 0px 10px 0px 10px;
}

.language:hover
{
	color: #fff;
	cursor: pointer;
}

#languageHeader
{
	background-color: #262681;
}

#languageBody
{
	background-color: #262681;
}

#loginHeader
{
	background-color: #002650;
}

#loginBody
{
	background-color: #002650;
}

.modal-title
{
	color: #FFF;
}

.close
{
	color: #fff;
}

.colorWhite
{
	color: #fff;
}

#loginCheck
{
	cursor: pointer;
}

.footerColor
{
	color: #8394af;
}

/*Floats to the right*/
.floatRight
{
	float: right;
}

/*Lowers down symbols*/
.centerI
{
	margin-top: 5px;
	float: none;
}

/*************************/
/*Pulls To/From/Calendar slightly away from sides*/
.padSides
{
	padding-right: 5%;
	padding-left: 5%;
	margin: auto;
}

.padCards
{
	padding-right: 3%;
	padding-left: 3%;
	margin: auto;
}


/*Adds padding to to & from & calendar*/
.addPlanPadding
{
	padding: 2px;
}

/*Changing color of placeholder*/
.placeholderColor input::-webkit-input-placeholder 
{
	color: #C3C3C3 !important;
}
 
.placeholderColor input::-moz-placeholder 
{  /* Firefox 19+ */
	color: #FFF !important;  
}
 
.placeholderColor input::-ms-input-placeholder 
{  
	color: #C3C3C3 !important;  
}

.placeholderColor2 input::-webkit-input-placeholder 
{
	color: #C3C3C3 !important;
}
 
.placeholderColor2 input::-moz-placeholder 
{  /* Firefox 19+ */
	color: #C3C3C3 !important;  
}
 
.placeholderColor2 input::-ms-input-placeholder 
{  
	color: #C3C3C3 !important;  
}

/*Adds CSS to the To & From*/
.tripLocation
{
    background: #3F86DC; 
	border: none;
	outline: none;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	height: 50px;
	width: 100%;
	padding: 10px;
}

/*Adds CSS to the calendar*/
.topValue
{
	background: #3F86DC; 
	cursor: pointer; 
	color: #FFF;
	height: 50px;
	font-weight: bold;
	padding: 12px 10px;
}

.navbarColor
{
	background-color: #002650;
	color: #fff;
}

.loginNav
{
	color: #fff;
}

.loginNav:hover
{
	text-decoration: none;
	color: #888
}

#headerInfo
{
	/*color: #EA5402;*/
	color: #030e21;
	font-size: 40px;
}

#colorSmallHeader
{
	color: #030e21;
}

#search
{
	font-size: 25px;
	color: #FFF;
	background-color: #EA5402;
	height: 50px;
	width: 100%;
}

.dataButton
{
	background-color: #EA5402;
	color: #fff;
}

/*Expands the text down for start / end and makes it a white box*/
@media (min-width: 767px)
{
	.placeholderColor input 
	{
	  transition: all 500ms;
	}
	.placeholderColor input:focus 
	{
	  width: calc( 100% + 150px );
	  color: #000;
	  margin-top: 60px;
	}
}

@media (max-width: 660px)
{
	#headerInfo
	{
		font-size: 30px;
		text-align: center;
	}
	.smallHeaderInfo
	{
		font-size: 20px;
		text-align: center;
	}
}