/*Globals*/
/*///////////////////////////////////////////////////////////////////*/

/*Grey background in case nothing else loads*/
body
{
	background-color: #0E0E0E;
}

/*States the size and type of the fonts*/
a
{
	font: 15px/1.5 Helvetica,sans-serif; /*Determines the text*/
}

a:hover
{
	text-decoration: none;
}

/*Causes all images to fill out their container*/
img
{
	max-width: 100%;
	max-height: 100%;
}


/*Solid line across screen*/
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000;
    margin: 1em 0;
    padding: 0;
    margin: -5px 0px 0px 0px;
}

/*Footer values for width, padding*/
footer
{
	width: 100%;
	padding: 3%;
}

/*Color of the footer text*/
footer a
{
	color: #FFF;
}

/*Color of the footer text when cursor is over top*/
footer a:hover
{
	text-decoration: none;
	color: #777
}

/*Changes Color, Padding, Margin, and Font size of H5*/
h5
{
	color: #666;
	padding-left: 5px;
	margin-bottom: -20px;
	font-size: 17px;
}

h3
{
	font-size: 23px;
}

/*Classes and IDs*/
/*///////////////////////////////////////////////////////////////////*/

/*Limits the width of whatever is inside to max and centers*/
.limitWidth
{
	max-width: 1100px;
	margin: auto;
}

/*Limits the height*/
.limitHeight
{
	max-height: 1100px;
}

/*Adds padding to the cards*/
.addPadding2
{
	padding: 15px;
}

/*Cover image*/
#coverImg
{
	background-image: url("../imgFiles/pointSign.jpg"); 	
	background-repeat: no-repeat;
	background-position: center -100px;
	background-size: cover;
	height: 900px;
	max-height: 900px;
}

/*The size of the branding image*/
.brandParam
{
	width: 60px;
	height: 60px;
}

/*Shifting over the Plan a Journey in the nav*/
#shiftCheck
{
	margin: 0px 10px 0px -10px;
	padding: 0px;
}

/*Making the search bar transparent*/
#destinationLocation
{
	background: transparent;
	border: none;
	outline: none;
	color: #000;
	font-size: 50px;
	margin: 0px;
	width: 80%;
	font-weight: bold;
	padding: 10px 0px 10px 10px;
}

/*Adds a bottom border*/
.bottomBorder
{
	border-bottom: 1px solid black;
}

/*Add some padding to the side of the search form*/
.form-inline
{
	padding-left: 5px;
	margin-top: 5px;
}

/*Shifts the search #px from top*/
.vertShift
{
	margin-top: 190px;
}

/*Adds padding*/
.resizeSearch
{
	padding: 10px;
}

/*Determines the size of the "Search" magnifying glass*/
.fa-search
{
	font-size: 30px;
	color: #FFF;
	margin: 20px 0px 0px 0px;
}

/*Solid line underneath Search when media is small*/
.display
{
	margin-top: -24px;
}

/*Sets height and background color*/
.card
{
	height: 400px;
	background: #F14E02;
}

/*Prevents images in cards from being too large*/
.card img
{
	max-height: 250px;
}

/*Sets the color of the text*/
.card h4, .card h3
{
	color: #FFF;
}

/*Sets the color of the text when hovered over*/
.card h4:hover, .card h3:hover
{
	color: #FFF
}

/*Adding padding and margin to the footer*/
.addPadding
{
	padding: 5px;
	margin: auto;
}

.addPadMargin
{
	padding: 10px;
	margin: 10px;
}
}

@media (max-width: 680px) 
{ 
  /*Determines the size of the "Search" magnifying glass*/
  .fa-search
  {
  	font-size: 20px;
  	margin-top: 3px;
  	margin-right: -5px
  }
  /*Determines the size of the "Search" text*/
  #destinationLocation
  {
  	font-size: 35px;
  }
  h5
  {
  	font-size: 13px;
  }
}

/*Shows the button on bottom and has a solid line*/
@media (max-width: 583px)
{
	/*Takes away border on search*/
	.bottomBorder
	{
		border-bottom: none;
	}
	/*Doesn't display initial button*/
	.noDisplay
	{
		display: none;
	}
	/*Resizes all H5*/
}

@media (min-width: 581px)
{
	/*Hides secondary button when it's larger*/
	.display
	{
		display: none;
	}
}

@media (max-width: 1400px)
{
	.addPadding2
	{
		margin-top: -100px;
	}
}

/*/////////////////////////////////////////////////////////////////////////*/

/*Contact Us*/
.jumbotronContactUs {
  color: #FFF;
  background: url("../imgFiles/city.jpg") no-repeat center center; 
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 400px;
  margin: auto;
}

#changeContact
{
	color: #FFF;
	background: #04065F;
}

/*/////////////////////////////////////////////////////////////////////////*/

/*Log In*/
.form-signin
{
  vertical-align: middle;
}

.limitForm{
  width: 300px;
  height: 40px;
  margin: auto;
}

.formPadMargin
{
	padding: 10px;
	margin: auto;
}